.rock {
    height: 10vh;
    width: 10vw;
    background-image: url("images/rockBirdsEyeView.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
}

.boat {
    height: 200px;
    width: 200px;
    background-image: url("images/newBoat.jpg");
    background-size: cover;
}

body {
    background-image: url("images/oceanDarkGreen.jpg");
    background-size:cover;
    background-repeat: repeat-y;
    background-position: 0px 1500px;
}

h1 {
    position: relative;
    left: 700px;
    top: 100px;
    height: 50px;
    width: 300px;
}

